# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore build/dist/egg files
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ignore all migration files except __init__.py
**/migrations/*.py
!*/migrations/__init__.py
**/migrations/*.pyc
**/migrations/__pycache__/

# Virtual Environments
venv/
env/
ENV/

# Environment Variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*/__init__.py

DBML/DBML.png
DBML/DBML.svg
code/products/*

